<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>

<div style="margin: 10px">
    <h3 class="btn btn-danger btn-block btn-lg">Postlar</h3>
    <div class="alert alert-success" role="alert">
      Ana sayfadaki Tüm Postlar <a href="http://192.168.20.107:8000/api/post/following-posts" target="_blank">http://192.168.20.107:8000/api/post/following-posts</a>
    </div>
</div>
<div style="margin: 10px">
    <h3 class="btn btn-primary btn-block btn-lg">Yorumlar</h3>
    <div class="alert alert-success" role="alert">
      Bir gönderinin tüm yorumları <a href="http://192.168.20.107:8000/api/comment/list/3rIL0bPCTod6R5offMxgDQWjTXRrQ7" target="_blank">http://192.168.20.107:8000/api/comment/list/3rIL0bPCTod6R5offMxgDQWjTXRrQ7</a>
    </div>
    <div class="alert alert-success" role="alert">
      Yorum oluşturma <a href="http://192.168.20.107:8000/api/comment/create/3rIL0bPCTod6R5offMxgDQWjTXRrQ7" target="_blank">http://192.168.20.107:8000/api/comment/create/3rIL0bPCTod6R5offMxgDQWjTXRrQ7</a>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>